Flask==3.1.2
fredapi==0.5.2
matplotlib==3.10.7
matplotlib-inline==0.2.1
numpy==2.3.4
pandas==2.3.3
pyaml==25.7.0
pydantic==2.12.4
pytest==9.0.1
PyYAML==6.0.3
requests==2.32.5
scikit-learn==1.7.2
seaborn==0.13.2
setuptools==80.9.0
statsmodels==0.14.5
torch==2.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
xgboost-cpu==3.1.1
